.title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: $title-color;
    position: relative;
    padding: 0 0 48px 0;
    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 65%;
        height: 1px;
        background: $title-color;
        bottom: 8px;
    }
    &::before {
        left: -20%;
    }
    &::after {
        right: -20%;
    }
    &__underline {
        content: url(../img/header-underline-icon.png);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}