<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:400,700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body
        section.our-team
            .container
                p.our-team__subtitle THE GENIUSES BEHIND OUR WORK
                h2.title OUR TEAM
                    span.title__underline
                .slider    
                    button.slider__prev          
                        span
                    button.slider__next
                        span
                    .slider__dots
                        span
                        span.active
                        span
                    .slider__item
                        .slider__left-inner
                            .slider__photo
                                span.slider__photo-bracket
                                span.slider__photo-bracket
                                span.slider__photo-bracket
                                span.slider__photo-bracket
                                img(src="img/slider-photo.jpg", alt="Sahariar Kabir position frontend developer")
                        .slider__right-inner
                            h3.slider__name Sahariar Kabir
                            p.slider__position Frontend Developer
                            .slider__socials
                                a(href="")
                                    span
                                a(href="")
                                    span
                                a(href="")
                                    span
                                a(href="")
                                    span
                            p.slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.
                            span.slider__doted-line
                            a.slider__profile-link= "VIEW PROFILE"
            script(src="js/main.js")